.diplomes-container {
  text-align: center;
  font-size: 13px;
  background-color: #EEE5E5;
  padding: 60px 40px;
  border-radius: 10px;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.centres-interet {
  text-align: center;
  font-size: 13px;
  background-color: #EEE5E5;
  padding: 60px 40px;
  border-radius: 10px;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.interets-content {
  align-items: center;
}

.cercles-containers {
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
