.coaching-content {
  margin-top: 100px;
}

.mini-banner {
  margin-top: 100px;
  background-color: rgb(130, 131, 161);
  width: 100%;
  height: 300px;
  color: white;
  line-height: 300px;
  text-align: center;
}

.mini-banner-text {
  display: inline-block;
}
