.coaching-content {
  margin-top: 80px;
}

.mini-banner {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: rgb(130, 131, 161);
  width: 100%;
  height: 300px;
  color: white;
  line-height: 300px;
  text-align: center;
}

.mini-banner-text {
  display: inline-block;
}

.coaching-etape {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 200px;
}

.mid-banner {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: rgb(130, 131, 161);
  width: 100%;
  height: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mid-banner-text {
  padding-right: 60px;
  padding-left: 140px;
  width: 80%;
  font-size: 20px;
  text-align: justify;
}

.mon-role {
  padding-right: 60px;
  padding-left: 400px;
  margin-bottom: 100px;
  width: 80%;
  text-align: justify;
}

.center-me {
  display: table;
  margin: 0 auto;
}

.cible-container {
  margin-top: 100px;
  display: flex;
  margin-bottom: 220px;
}
