@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.body-anim {
  text-align:center;
  color: rgb(8, 31, 61);
  font-size:40px;
  padding-top:18vh;
  overflow:hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
}

.div-anim {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

.div-anim:first-of-type {    /* For increasing performance
                       ID/Class should've been used.
                       For a small demo
                       it's okaish for now */
  animation: showup 7s infinite;
}

.div-anim:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

.div-anim:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}


// LINE ANIMATION ---------------------------------------------


a{
  text-decoration: none;
  color: rgb(8, 31, 61);
}

.link{
  position: relative;
}

.link:after{
  content: '';
  position: absolute;
  width: 0; height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fff;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}

.link:hover:after{
  width: 100%;
  left: 0;
  background: rgb(8, 31, 61);
}
