body {
  background-color: rgba(253,240,230,.12);
  color: rgb(8, 31, 61);
}

// LAPTOP
@media (max-width: 3000px) {
  .intro {
    width: 40%;
  }
}

//IPAD PAYSAGE
@media (max-width: 1400px) {
  .body-anim {
    display: none;
  }
  .intro {
    width: 100%;
  }
  #qui-suis-je-photo {
    width: 400px;
    height: 400px;
  }
  #mes-progammes-photo {
    width: 600px;
    height: 500px;
  }
  .card-programme {
    position: absolute;
    left: 420px !important;
    width: 500px;
    padding-right: 100px;
  }
  .pilier {
    width: 260px !important;
  }
  #image-coaching-2 {
    width: 430px;
    height: 278px;
  }
  #image-coaching-3 {
    width: 400px;
    height: 250px;
  }
  .cards-parent-tem {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
  }
  #signature {
    font-size: 15px !important;
  }
}

//IPAD PORTRAIT

@media (max-width: 1000px) {
  .body-anim {
    display: none;
  }
  .intro {
    width: 100%;
  }
  .flex-intro {
    display: inline-block !important;
    overflow: initial !important;
  }
  .propos {
    display: inline !important;
  }

  #about-paraph {
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
  }

  #qui-suis-je-photo {
    width: 0px;
    height: 0px;
  }
  #mes-progammes-photo {
    width: 600px;
    height: 340px !important;
    opacity: 0;
  }
  .card-programme {
    box-shadow: initial;
    position: absolute;
    left: 0px !important;
    width: 500px;
    padding-top: 0px;
    padding-right: 40px;
    padding-left: 0;
    margin-bottom: 0;
    width: 680px;
  }

  .card-accompagnement {
    margin-bottom: 0;
  }

  .display {
    display: none;
  }

  .pilier-coaching-1 {
    padding-top: 0 !important;
  }
  .pilier {
    width: 260px !important;
  }
  #image-coaching-2 {
    width: 0px;
    height: 0px;
  }
  #image-coaching-3 {
    width: 0px;
    height: 0px;
  }
  .cards-parent-tem {
    font-size: 15px;
    margin-top: 30px;
  }
  #signature {
    font-size: 15px !important;
  }
  .coaching-card {
    height: 700px !important;
  }
  .cards-tem {
    flex-wrap: wrap
  }

  .program-title {
    // position: absolute !important;
    // top: 30px !important;
    // left: 0 !important;
  }
}

//TELEPHONE

@media (max-width: 450px) {
  .body-anim {
    display: none;
  }
  .intro {
    width: 100%;
  }
  .flex-intro {
    display: inline-block !important;
    overflow: initial !important;
  }
  .propos {
    display: inline !important;
  }

  #about-paraph {
    text-align: initial;
    padding-left: 0px;
    padding-right: 0px;
  }

  #qui-suis-je-photo {
    width: 0px;
    height: 0px;
  }
  #mes-progammes-photo {
    width: 600px;
    height: 340px !important;
    opacity: 0;
  }
  .card-programme {
    box-shadow: initial;
    position: relative !important;
    left: 0px !important;
    width: 300px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0;
    margin-bottom: 0;
    top: -20px !important;
  }

  .card-accompagnement {
    text-align: initial;
    padding-bottom: 0;

  }

  .display {
    display: none;
  }

  .pilier-coaching-1 {
    padding-top: 0 !important;
  }

  .pilier-coaching-2 {
    padding-top: 100px;
  }

  .pilier {
    width: 340px !important;
  }
  #image-coaching-2 {
    width: 0px;
    height: 0px;
  }
  #image-coaching-3 {
    width: 0px;
    height: 0px;
  }
  .cards-parent-tem {
    font-size: 15px;
    margin-top: 30px;
  }
  #signature {
    font-size: 15px !important;
  }
  .coaching-card {
    height: 700px !important;
  }
  .cards-tem {
    flex-wrap: wrap
  }
  .mes-prog {
    overflow: hidden;
    width: 100% !important;
  }

  #bonne-raison {
    margin-top: 20px;
  }

  .cards {
    margin-top: 0;
  }

  .bolder {
    font-weight: bold !important;
    font-size: 40px;
  }

  .margin-100 {
    margin-top: 0 !important;
  }
}
