body {
  background-color: rgba(253,240,230,.12);
  color: rgb(8, 31, 61);
  // display: flex;
  // flex-direction: column;
}

// LAPTOP
@media (max-width: 3000px) {
  .intro {
    width: 40%;
  }
}

//IPAD AIR
@media (max-width: 1400px) {
  .body-anim {
    display: none;
  }
  .intro {
    width: 100%;
  }
  #qui-suis-je-photo {
    width: 400px;
    height: 400px;
  }
  #mes-progammes-photo {
    width: 600px;
    height: 500px;
  }
  .card-programme {
    position: absolute;
    left: 400px;
    width: 500px;
    padding-right: 100px;

  }
}
