 <div class="footer">
    <div><%= link_to "LEXPLORE", root_path, class: "nav-link" %></div>

    <div class="footer-links">
      <a href="#" class="link">LinkedIn</i></a>
    </div>

    <div class="footer-links">
      <%= link_to "#", class: "footer-copyright link" do  %>
      <div>Mentions légales</div>
      <% end %>
    </div>

  </div>
