 <div class="footer">
    <div><%= link_to "LEXPLORE", root_path, class: "nav-link", id: "lexplore-footer" %></div>

    <div class="footer-links">
      <a href="https://www.linkedin.com/in/natacha-constantin-5aa39944/" target="_blank" class="link-footer" >LinkedIn</i></a>
    </div>

    <div class="footer-links">
      <%= link_to "#", class: "footer-copyright link-footer" do  %>
      <div>Mentions légales</div>
      <% end %>
    </div>

  </div>
