<br>
<br>
<br>
<h3><span style='font-size:30px;'>&#10004;</span><strong> Il existe un tas de raisons de se lancer dans l'exploration professionnelle :</strong></h3>
<br>
• <em>Explorer</em> pour s’adapter à un monde (du travail) en grande mutation,
notamment dans le domaine juridique !
<br>
<br>
• <em>Explorer</em> pour envisager d’autres alternatives et options.
<br>
<br>
• <em>Explorer</em> pour comprendre d’où vient votre insatisfaction/frustration au travail
et y remédier.
<br>
<br>
• <em>Explorer</em> afin d’aller vers de nouveaux horizons professionnels plus en
adéquation avec ce à que vous aspirez réellement.
<br>
<br>
• <em>Explorer</em> afin de rebondir après une période difficile.
<br>
<br>
• <em>Explorer</em> pour décrocher le poste de vos rêves.
<br>
<br>
• <em>Explorer</em> pour lancer son activité.
<br>
<br>
• <em>Explorer</em> pour développer son activité.
<br>
<br>
<br>

<h3><span style='font-size:30px;'>&#10004;</span><strong> Et aussi... </strong></h3>


Ma mission est de vous accompagner dans lexploration et la définition de votre
chemin professionnel.

DE BONNES RAISONS d’explorer

 Pour s’épanouir dans son travail (…et sans sa vie)
Vous le savez mieux que personne : on passe beaucoup (trop ?) de temps au travail.
Et pourtant, on a beau le savoir, beaucoup de personnes continuent d’accepter des situations
professionnelles qui ne leur conviennent plus totalement (voire, plus du tout).
Il peut s’agir d’un domaine du droit qui ne vous convient plus, d’une équipe, d’un mode de
fonctionnement, d’horaires, d’une charge de travail, d’une typologie de dossier, d’une ville, d’un mode
de vie, d’un management…qui ne sont plus en adéquation avec vos aspirations.
 Pour trouver sa voie et se sentir à sa place
Votre travail fait partie intégrante de votre projet de vie global.
Le manque de motivation, le manque de sens au travail peut générer dans la durée de la frustration,
de l’insatisfaction et un sentiment de ne pas vivre « sa vie ». C’est le sentiment de ne pas être à sa
place.
Je suis convaincue que chaque personne a ses valeurs, compétences, qualités, aspirations qui ne
demandent qu’à être exploitées dans le BON contexte de travail.

 Pour rester en bonne santé

Le nombre de burnout et boreout est en augmentation sensible en France. Bien que ce
phénomène soit dû à un ensemble de facteurs, il est indéniable que les exigences et
rythmes de travail dans le domaine juridique puissent constituer un terreau propice au
déclenchement d’un burnout.
Le coaching peut notamment permettre d’éviter de tomber dans une situation de
burnout ou de rebondir après un burnout.
