<%= render 'shared/admin_navbar' %>
<div class="container mt-4">
  <% if current_user.id != 1 %>
    <div> Accès non autorisé !</div>
    <%= link_to "revenir à la page d'accueil", root_path %>
  <% else %>
    <div class="welcome">
    Bienvenue sur la partie Admin de Lexplore !

    <br>
    <br>

    <%= link_to "Créer un nouveau coach", new_coach_path, class: 'btn btn-primary' %>
    <%= link_to "Revenir à l'accueil", root_path, class: 'btn btn-primary' %>
    <% end %>
    </div>
</div>
