<div class="container">

  <div class="flex-intro" style="margin-top: 120px">
    <div class="dessin-barre">
      <div class="dessin-propos">
      <%= image_tag "apropos.png", width: 500, height: 380, id: "qui-suis-je-photo", style: "border-radius: 5px;"  %>
      </div>
    </div>

    <div class="propos">
      <div id="about-paraph">
        <h2>Qui suis-je ?</h2>
        <br>
        Juriste, puis avocate en droit social, j’ai toujours été intéressée par les conditions de travail,
        la place du travail et la recherche de sens au travail. Je dirais donc que la recherche
        d’épanouissement au travail m’a toujours guidée !
        <br>
        <br>
        <strong>En tant qu’avocate</strong> , j’ai néanmoins rapidement compris que je souhaitais pouvoir aller plus
        loin dans l’accompagnement de mes clients – en les aidant sur des volets autres que
        juridiques. J’ai ainsi commencé un travail de coaching qui m’a permis d’envisager une R E C
        O N V E R S I O N (meilleure décision ever !).
        <br>
        <br>

      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div style="text-align: justify;">
    Depuis 2020, j’ai rejoint un cabinet de recrutement juridique en tant que chasseuse de
    têtes. Dans ce cadre, j’accompagne des cabinets, études notariales et directions juridiques
    dans leurs recherches de collaborateurs. A ce titre, j’échange avec de nombreux acteurs du
    domaine juridique. Cette expérience me permet d’affiner toujours plus ma compréhension du
    marché juridique du travail : son évolution, ses contraintes, ses mutations et ses exigences !
    J’apprécie particulièrement le rôle de conseil que l’on peut avoir, pour permettre autant que
    possible qu’un recrutement s’inscrive dans la durée.
  </div>
  <br>
  <br>
  <div style="text-align: justify;">
    En parallèle, je me suis formée au coaching et au bilan de compétences et
    j’accompagne des personnes désireuses de faire évoluer leur situation professionnelle.
    J’ai à cœur d’aider les personnes que j’accompagne dans une exploration afin de les aider à
    (re)définir leur prochaine étape professionnelle. J'adore réfléchir à l'évolution des métiers du droit et envisager les choses sous un nouvel angle.
    Je m’investis aussi dans des accompagnements (coaching) via le Bénévolat (Each One,
    Rêv’Elles).
  </div>

  <div class="centres-interet">

    Le développement personnel
    <br><br>
    L’évolution du monde du droit
    <br><br>
    Les nouveaux métiers
    <br><br>
    Les nouvelles manières de travailler
    <br><br>
    Le futur du travail.
    <br><br>
    l’apnée, la plongée, le yoga, la découverte de nouvelles cultures.
  </div>

  <div class="diplomes-container">
    <h2>Diplômes et Certifications</h2>
    <br>

    <strong>Formation en Bilan de carrière/Bilan de compétences</strong> (Osez Rêver Sa Carrière)
    <br>

    <br>
    <strong>Certificat coaching professionnel</strong>  (Linkup coaching - RNCP niveau 7)
    <br>

    <br>
    <strong>Certification d’aptitude à la profession d’avocat</strong> (CAPA - Barreau de Paris)
    <br>

    <br>
    <strong>Master 2 - Management des ressources humaines</strong> (Université Paris Dauphine)
    <br>

    <br>
    <strong>Master 2 - Arbitrage et commerce international</strong>  (Université Versailles Saint-Quentin-en-Yvelines)
    <br>
    <br>
    <br>
  </div>


</div>
