<div class="container">

  <div class="flex-intro mt-5">
    <div class="dessin-barre mt-5">
      <div class="dessin-propos">
      <%= image_tag "apropos.png", width: 500, height: 380, id: "qui-suis-je-photo", style: "border-radius: 5px;"  %>
      </div>
    </div>

    <div class="propos">
      <div id="about-paraph">
        <h2>Qui suis-je ?</h2>
        <br>
        <br>
        Juriste, puis avocate en droit social, j’ai toujours été intéressée par les conditions de travail, la place du travail et par la recherche de sens au travail.
        <br>
        <br>
        J’accompagne à présent des personnes désireuses de faire évoluer leur situation professionnelle, que ce soit dans le cadre d’une reconversion ou d’une modification de leur rapport au travail.
        <br>
        <br>
        En parallèle, je m’investis dans des accompagnements (coaching) via le Bénévolat (Each One, Rêv’Elles).
      </div>
    </div>
  </div>

  <div class="diplomes-container">
    <h2>Diplômes et Certifications</h2>
    <br>

    <strong>Formation en Bilan de carrière/Bilan de compétences</strong> (Osez Rêver Sa Carrière)
    <br>
    <br>
    <strong>Certificat coaching professionnel</strong>  (Linkup coaching - RNCP niveau 7)
    <br>
    <br>
    <strong>Certification d’aptitude à la profession d’avocat</strong> (CAPA - Barreau de Paris)
    <br>
    <br>
    <strong>Master 2 - Management des ressources humaines</strong> (Université Paris Dauphine)
    <br>
    <br>
    <strong>Master 2 - Arbitrage et commerce international</strong>  (Université Versailles Saint-Quentin-en-Yvelines)
    <br>
    <br>
  </div>


</div>
