 <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0.9,0,0.4)), url(<%= image_path('bilan-pic-3.png') %>)">
    <div class="container banner-elements">
      <h1 id="program-title">
        Bilan de carrière
      </h1>
    </div>
  </div>

  <div class="container">

    <div class="bilan-content">
        <h3><strong>On fait le bilan</strong></h3>
        <br>
        <br>
        <div class="text">
          Le Bilan de carrière  permet de faire le point tant sur un plan personnel que professionnel. Il inclut donc un Bilan de compétences, mais permet de creuser plus globalement ses aspirations. Il prend en compte le projet de vie.
          <br>
          <br>
          Quand suivre ce programme? Lorsque l’on souhaite se lancer dans un nouveau projet ou étape professionnelle, dans certains cas se reconvertir.
        </div>
    </div>

    <br>
    <br>

    <hr>

    <div class="bilan-etape">
      <%= image_tag "bilan-1.png", width: 600, height: 400, id: 'bilan-1', style: "border-radius: 5px;"  %>
      <div class="bilan-content-2">
        <h3><strong>Première étape</strong></h3>
        <br>
        <br>
        <div class="text-bilan">
          La première phase du Bilan est principalement une phase d’introspection. On se questionne sur ses expériences passées, ses centres d’intérêts, ses valeurs, ses qualités etc… (ce  qui n’empêche pas de déjà commencer à se challenger sur des nouvelles pistes). On ouvre le champ des possibles !
          <br>
          <br>

          <li> 5 séances d’une heure et demi</li>
        </div>
      </div>
    </div>

    <div class="bilan-etape">
      <div class="bilan-content-2">
        <h3><strong>Seconde étape</strong></h3>
        <br>
        <br>
        <div class="text-bilan">
          La seconde phase du Bilan a vocation à être plus concrète, c’est une phase de choix de différentes pistes, de mise en action. Des enquêtes métiers peuvent être proposées. C’est également une phase où peuvent être abordées les questions relatives aux peurs/blocages mais aussi aux aspects financiers.
          <br>
          <br>

          <li> 5 séances d’une heure et demi</li>
        </div>
      </div>
      <%= image_tag "bilan-2.png", width: 600, height: 400, id: 'bilan-1', style: "border-radius: 5px;"  %>
    </div>

    <div class="parent-quelrole">
      <div class="quelrole">
        <h3><span style='font-size:30px;'>&#10004;</span><strong>   Quel est mon rôle ?</strong></h3>
        <br>
        <br>
        Dans le cadre d’un Bilan de carrière, au même titre que pour le coaching, je vais vous accompagner dans votre réflexion,  en adoptant une posture neutre et non jugeante.

        Je vais vous challenger grâce à des questions (beaucoup!), des exercices et outils, afin de vous permettre d’ouvrir le champ des possibles, de vous dépasser, d’envisager les choses sous un nouvel angle.
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h3><span style='font-size:30px;'>&#10004;</span><strong>   Vos questions</strong></h3>
        <br>
        <br>
        <h5><strong>Quelle(s) différence(s) entre un Bilan de carrière et un Bilan de compétences ?</strong></h5>
        <br>
        Le Bilan de compétences, comme son nom l'indique, se concentre essentiellement sur les compétences professionnelles. Il est encadré par la loi.
        <br>
        <br>
        Le Bilan de carrière  permet de faire le point tant sur un plan personnel que professionnel. Il inclut donc le Bilan de compétences, mais permet de creuser plus globalement ses aspirations. Il prend en compte le projet de vie.
        <br>
        <br>
        <br>
        <br>
        <h5><strong>Existe-t-il des étapes dans le Bilan ?</strong></h5>
        <br>
        Le Bilan de carrière dure 10 séances, d’environ 1h30.
        <br>
        <br>
        La première phase du Bilan (les cinq premières séances) est principalement une phase d’introspection. On se questionne sur ses expériences passées, ses centres d’intérêts, ses valeurs, ses qualités etc… (ce qui n’empêche pas de déjà commencer à se challenger sur des nouvelles pistes). On ouvre le champ des possibles !
        <br>
        <br>
        La seconde phase du Bilan a vocation à être plus concrète, c’est une phase de choix de différentes pistes, de mise en action. Des enquêtes métiers peuvent être proposées. C’est  également une phase où peuvent être abordées les questions relatives aux peurs/blocages mais aussi aux aspects financiers.
        <br>
        <br>
        <br>
        <br>
        <h5><strong>Est-ce qu’on peut ne faire qu’une partie du Bilan ?</strong></h5>
        <br>
        Bien qu’il ne soit pas souhaitable d’arrêter en cours de route, il n’y a aucune obligation d’aller jusqu’au bout du process, si cela ne vous semble plus opportun.
        <br>
        <br>
        <br>
        <br>
        <h5><strong>Quelle(s) différence(s) avec le coaching ?</strong></h5>
        <br>
        Le coaching et le Bilan de carrière répondent à des buts différents.
        <br><br>
        Le Bilan de carrière est à privilégier lorsque l’on souhaite se lancer dans un nouveau projet professionnel, ou étape professionnelle, ou se reconvertir.
        <br><br>
        Le coaching est à privilégier lorsque l’on souhaite se fixer un objectif, d’ordre professionnel ou personnel, qui induit de déterminer l’objectif puis de mettre en place des objectifs intermédiaires avant l’atteinte de l’objectif final.
        <br><br>
        Néanmoins, des outils du coaching peuvent être utilisés, si c’est opportun, dans le cadre du Bilan de carrière.
        <br><br>
        Exemple : travailler sur les croyances limitantes, travailler sur la confiance en soi dans le nouveau projet pro… etc.
        <br>
        <br>
        <br>
        <br>
        <h5><strong>Combien de temps dure le Bilan ?</strong></h5>
        <br>
        Les séances de Bilan ont vocation à être réparties environ tous les 15 jours (adaptable, selon vos contraintes) - réparties sur 4 / 6 mois.
        <br>
        <br>
        Entre chaque séance, j’enverrai un certain nombre d’exercices, qui demandent un investissement réel de votre part (entre 2 à 4 heures).
        <br>
        <br>
        Il s’agit d’un moment important pour vous, j’encourage donc à prendre le temps de bien faire les exercices et à se mettre dans de bonnes dispositions pour les faire.
        <br>
        <br>
        Le Bilan peut se faire en présentiel ou à distance.
        <br>
        <br>
        <br>
        <br>
        <h5><strong>Est-ce que le Bilan veut dire reconversion ?</strong></h5>
        <br>
        Bien que le Bilan de carrière soit l’outil parfait pour envisager une reconversion professionnelle, le Bilan permet avant tout de revoir son rapport au travail, sa manière de travailler, ses priorités etc.
        <br>
        <br>
        Il arrive fréquemment qu’une reconversion ne soit finalement pas souhaitée, et que des changements de structures ou/ de manière de travailler, permettent d’apporter une plus grande satisfaction au travail.
        <br>
        <br>


      </div>
    </div>

  </div>
