<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0.9,0,0.4)), url(<%= image_path('coaching-banner-2.png') %>)">
    <div class="container banner-elements">
      <h1 id="program-title">
        Programmes de coaching
      </h1>
    </div>
  </div>
