<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0.9,0,0.4)), url(<%= image_path('coaching-banner-2.png') %>)">
    <div class="container banner-elements">
      <h1 id="program-title">
        Coaching professionnel
      </h1>
    </div>
</div>

<div class="container">
  <div class="coaching-content">
    Dans le cadre d’un coaching professionnel, je vous accompagne dans un processus de
    changement. J’agis comme un facilitateur de l’évolution. En effet, je vais apporter une vision
    extérieure, prendre le rôle d’un partenaire objectif afin de vous permettre d’atteinte un
    objectif déterminé ensemble.
    <br>
    <br>
    Les situations nécessitant un coaching peuvent être très variées en fonction des personnes
    et des situations que vous traversez.
    <br><br>
    <em><strong>Exemples :</strong></em>
    <small>
      <br>
      <em>
      •  Développer sa clientèle
      <br>
      •  Lancer son activité
      <br>
      •  Gagner en confiance en soi dans le cadre professionnel
      <br>
      •  Trouver un poste/une collaboration épanouissante
      <br>
      •  Obtenir + de satisfaction au travail
      <br>
      •  Mieux communiquer en tant que manager
      <br>
      •  Mieux gérer son stress au travail
      <br>
      •  Mieux gérer son temps de travail
      </em>
    </small>
    <br><br>

    Clarifier ses objectifs, mettre en place un plan réaliste et atteignable en s’aidant de
    techniques concrètes et solides sont les piliers de ce programme de coaching.
    <br>
    <br>
    <small>
      <em>
        Durée : en règle générale, de 8 à 12 séances
        <br>
        Modalité : en présentiel ou à distance
      </em>
    </small>
  </div>
</div>

<div class="mini-banner">
<h3 class="mini-banner-text"><em>"Changer, oui, mais comment ?"</em></h3>
</div>

<div class="container">

<h3><strong>Le parcours de l'explorant</strong></h3>

    <div class="coaching-etape">
      <%= image_tag "coaching-etape-1.png", width: 600, height: 400, id: 'bilan-1', style: "border-radius: 5px;" %>
      <div class="bilan-content-2">
        <h3><strong>Première étape</strong></h3>
        <br>
        <br>
        <div class="text-bilan">
          La première phase du Coaching permet de déterminer quel est l’objectif à atteindre. Cette phase est souvent accompagnée d’une phase dite “d’introspection”, pour réussir à mieux se connaître et donc fixer des objectifs en pleine connaissance de cause.
          <br>
          <br>
          <li> 5 séances d’une heure et demi</li>
        </div>
      </div>
    </div>

    <div class="coaching-etape">
      <div class="bilan-content-2">
        <h3><strong>Seconde étape</strong></h3>
        <br>
        <br>
        <div class="text-bilan">
        La seconde phase du Coaching a vocation à mettre en place des objectifs intermédiaires permettant l’atteinte de l’objectif final.
        Cette seconde phase est souvent l’occasion de travailler sur ses croyances limitantes, ses peurs, blocages et sur la confiance en soi.
          <br>
          <br>
          <li> 5 séances d’une heure et demi</li>
          <div id="coaching-cible"></div>
        </div>
      </div>
      <%= image_tag "coaching-etape-2.png", width: 600, height: 400, id: 'bilan-1', style: "border-radius: 5px;" %>
    </div>
</div>

<div class="mon-role">
  <h3><p><span>&#128073;&#127996;</span><strong>   Quel est mon rôle ?</strong></p></h3>
  <br>
  Dans le cadre d’un Coaching, je vais vous accompagner dans votre réflexion,  en adoptant une posture neutre et non-jugeante.
  <br>
  <br>

  Je vais vous challenger grâce à des questions (beaucoup!), des exercices et outils, afin de vous permettre d’ouvrir le champ des possibles, de vous dépasser, d’envisager les choses sous un nouvel angle.
</div>

<div class="mon-role">
  <h3><span style='font-size:30px;'>&#10004;</span><strong>   Vos questions</strong></h3>
  <br>
  <br>
  <h5><strong>Quelle(s) différence(s) avec le Bilan de carrière ?</strong> </h5>
  <br>
  Le coaching et le Bilan de carrière répondent à des buts différents.
  <br>
  <br>
  Le Bilan de carrière est à privilégier lorsque l’on souhaite se lancer dans un nouveau projet professionnel, ou étape professionnelle, ou se reconvertir.
  <br>
  <br>
  Le coaching est à privilégier lorsque l’on souhaite se fixer un objectif, d’ordre professionnel ou personnel, qui induit de déterminer l’objectif puis de mettre en place des objectifs intermédiaires avant l’atteinte de l’objectif final.
  <br>
  <br>
  Néanmoins, des outils du coaching peuvent être utilisés, si c’est opportun, dans le cadre du Bilan de carrière.
  <br>
  <br>
  Exemple : travailler sur les croyances limitantes, travailler sur la confiance en soi dans le nouveau projet pro… etc.
  <br>
  <br>
  <br>
  <h5><strong> Est-ce qu’on peut faire qu’une partie du Bilan ?</strong></h5>
  <br>
  Bien qu’il ne soit pas souhaitable d’arrêter en cours de route, il n’y a aucune obligation d’aller jusqu’au bout du process, si cela ne vous semble plus opportun.
  <br>
  <br>
  <br>
  <h5><strong> Combien de temps dure un programme de coaching ?</strong> </h5>
  <br>
  Les séances de coaching ont vocation à être réparties environ tous les 15 jours (adaptable, selon vos contraintes) - réparties sur environ 6 mois.
  <br>
  <br>
  Entre chaque séance, j’enverrai un certain nombre d’exercices adaptés à votre situation.
  <br>
  <br>
  Le Programme de coaching peut se faire en présentiel ou à distance.
  <br>
</div>


<div class="mon-role">
  <h3><span>&#128073;&#127996;</span><strong>   Pour me contacter</strong></h3>
  <br>
  Je suis toujours disponible pour répondre à vos questions. Pour clarifier les choses, la première séance est gratuite !

  <%=render 'shared/contact_form' %>
</div>
