<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0.9,0,0.4)), url(<%= image_path('coaching-banner-2.png') %>)">
    <div class="container banner-elements">
      <h1 id="program-title">
        Programmes de coaching
      </h1>
    </div>
</div>

<div class="container">
  <div class="coaching-content">
    <h3><strong>Coaching professionnel</strong></h3>
    <br>
    <br>
    Le coaching est à privilégier lorsque l’on souhaite évoluer vers une nouvelle étape professionnel.  Les situations nécessitant un coaching peuvent être très variées en fonction des profils personnel. Commencer un nouveau challenge, résoudre une insatisfaction personnel au travail autant de raisons qui pousse mes clients à chercher un dialogue féconds.
    <br>
    <br>
    Clarifier ses objectifs, mettre en place un plan réaliste et atteignable en s’aidant de techniques concretes et solide sont les piliers de mes programmes coaching.
    <br>
    <br>
    <small>
      <em>
        Durée : en règle générale, de 8 à 12 séances
        <br>
        <br>
        Modalité : en présentiel ou à distance
      </em>
    </small>
  </div>
</div>

<div class="mini-banner">
<h3 class="mini-banner-text"><em>"Changer, oui, mais comment ?"</em></h3>
</div>
