<div class="container">
  <div class="cible-container">

    <div class="flechette-container">
      <%= image_tag "flechettes.jpg", width: 540, height: 365, style: "padding-top: 8px;" %>
    </div>

    <div class="mid-banner-text">
      <h3>Coaching ciblé</h3>
      <br>
      Certaines situations nécessitent seulement une ou deux séances de coaching.
      <br>
      <br>
      C’est notamment le cas lorsque l’on souhaite préparer un entretien ou pour booster sa confiance en soi ou encore pour mieux gérer son stress dans une situation donnée.
      <br>
      <br>
      <small>
        <em>
          Durée : une ou deux séances
          <br>

          Modalité : en présentiel ou à distance
        </em>
      </small>
    </div>

  </div>
</div>
