
<div class="photo">
  <%#= image_tag cl_image_path @coach.photo.key, :width=>1000, :height=>1000, :crop=>"lfill" %>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0.9,0,0.2)), url(<%= image_path('corn-bis.jpeg') %>)">
  <div class="banner-elements">
    <h1>
      Vous accompagner dans votre projet professionnel
    </h1>
    <br>
    <br>
    <div>
      <%= link_to "Prendre rendez-vous", "#", class: "btn-rdv"%>
    </div>
  </div>
</div>

<div class="container margin-100">

  <div class="flex-intro">
    <div class="intro">
      <strong style="font-size: 26px;"><em>L</em>exploration</strong>
      <br>
      <br>
      Explorer c’est l’envie de sortir de soi, de chercher à rencontrer de nouveaux horizons. Avoir l’envie de porter son regard ailleurs, de se définir un but et se mettre en marche pour l’atteindre. On peut avoir envie d’ailleurs sans savoir où aller.
      <br>
      <br>
      Ma mission est de vous accompagner dans votre projet professionnel, de définir avec vous un objectif et vous aidez à l’atteindre.
    </div>

    <div class="body-anim">
      <div class="div-anim"><em>L</em>explore</div>
      <div class="div-anim">
        <span>vous accompagne</span>
      </div>
    </div>
  </div>


  <br>
  <%# ---------contact -------- %>
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
  </svg>
  <%= link_to "contact", "#", class: "btn-contact" %>

  <br>
  <br>


  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('a-propos.png') %>)">
    À propos
  </div>




</div>
