 <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0.9,0,0.2)), url(<%= image_path('old-books.jpg') %>)">
    <div class="container banner-elements">
      <h1>
        Mes programmes d'exploration
      </h1>
    </div>
  </div>
