 <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0.9,0,0.2)), url(<%= image_path('old-books.jpg') %>)">
    <div class="container banner-elements">
      <h1 id="program-title">
        Mes programmes d'exploration
      </h1>
    </div>
  </div>

  <div class="container mt-4">

    <div class="carte-programme">
    <%= image_tag "dessin-program-3.png", width: 500, height: 300, id: "mes-progammes-photo", style: "border-radius: 5px;"  %>
    </div>

  </div>
