
<div class="container flex_form">
  <div class="contact-text">
    <h1>Contact</h1>
    <br>
    <br>
    <h3>Dans quels cas me contacter ?</h3>
    <br>
    <br>
    Pour réserver votre première séance gratuite, afin de déterminer si je suis la bonne personne pour vous accompagner (c’est important, quand même !)
    <br>
    <br>
    Pour tout échange et questions au sujet des thématiques abordées, car je suis toujours ravie de discuter sur ces sujets passionnants.
    <br>
    <br>
    Pour toute idée de sujet d’articles, ou encore un souhait de témoignage sur votre expérience professionnelle.
  </div>
  <div>
    <%= render 'shared/contact_form' %>
  </div>
</div>
