<br>
<br>
<br>
<br>
<div class="container flex_form">
  <div class="contact-text">
    <h1>Contact</h1>
    <br>

    <h3>Dans quel(s) cas me contacter ?</h3>
    <br>
    <br>
    Pour <strong>réserver votre première séance gratuite</strong>, afin de déterminer si je suis la bonne personne pour vous accompagner (c’est important, quand même !)
    <br>
    <br>
    <br>
    Pour tout <strong> échange et questions </strong>au sujet des thématiques abordées, car je suis toujours ravie de discuter sur ces sujets passionnants.
    <br>
    <br>
    <br>
    Pour toute <strong>idée</strong> de sujet d’articles, ou encore un souhait de témoignage sur votre expérience professionnelle.
  </div>
  <div>
    <%= render 'shared/contact_form' %>
  </div>
</div>

<div class="blanc"></div>
