<div class="container mt-5 text-center thanks">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Merci pour votre message !</h1>
<br>
Je reviendrai très vite vers vous
<br>
<br>
<br>
<br>

<%=link_to "Retourner à la page d'accueil", root_path, class: 'btn-propos'  %>

</div>
