.btn-primary {
    color: rgb(8, 31, 61);
    background-color: rgb(255, 234, 221);
    border-color: rgb(255, 234, 221);
    &:hover {
      color: rgb(255, 234, 221);
      background-color: rgb(8, 31, 61);
      border-color: rgb(8, 31, 61);
    }
}

.btn-rdv {
  margin-left: 60px;
  text-decoration: none;
  background-color: rgb(255, 234, 221);
  color: rgb(8, 31, 61);
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: all 0.3s ease;
  &:hover {
    text-decoration: none;
    background-color: rgb(8, 31, 61);
    color: white;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.btn-contact {
  text-decoration: none;
  color: rgb(8, 31, 61);
  transition: all 0.3s ease;
}

.button-coaching {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
  &:hover {
    color: rgb(255, 234, 221);
    text-decoration: none;
  }
}

.btn-propos {
  margin-top: 30px;
  text-decoration: none;
  background-color: rgb(96,94,112);
  color: white;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: all 0.3s ease;
  &:hover {
    text-decoration: none;
    background-color: rgb(8, 31, 61);
    color: white;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

  }
}

.btn-programme {
  margin-top: 30px;
  text-decoration: none;
  background-color: rgb(204,154,110);
  color: white;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: all 0.3s ease;
  &:hover {
    text-decoration: none;
    background-color: rgb(8, 31, 61);
    color: white;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

  }
}
